html {
	&.translated-ltr,
	&.translated-rtl {
		#google_translate_element {
			padding-top: 0px;
		}
		.goog-te-gadget {
			display: none;
		}
	}
}

#google_translate_element {

	padding-top: 50px;

	.goog-te-gadget {
		position: fixed;
	    top: 0;
	    text-align: center;
	    width: 100%;
	    background-color: #35363A;
	    padding: 5px;
	}

	.jumbotron {
		background-image: url(../img/stars-small.png);
		background-repeat: no-repeat;
		background-position: center 20px;
		padding-top: 140px;
	}

	.row.share {
		.btn-link {
			font-size: 30px;
			.fab {
				font-size: 50px;
				margin-bottom: 10px;
			}
		}
	}

}